* {
    box-sizing: border-box;
}
body {
    background-image: url("https://www.osas.com/media/2055/advanced-warehouse-management-software3.jpg");
    font-family: 'Muli', sans-serif;
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
 }


#login, #signup {
        float: center;
        background-color: #9989EA;
}

.e a {
    float: left;
    display: block;
    color:white ;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.e a:hover {
    /* background-color: rgb(22, 94, 32); */
    color: rgb(56, 96, 156);
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;

}
#log-out{
    color: white;
    background-color: blue;
    padding: 5px;
    float: right;
    margin: 10px;
    border: none;
}

.def{
    font-family: 'Muli', sans-serif;
    padding: 250px 100px 100px 100px;
}

.def1{
    background-color: #F7F9FB;
    padding: 35px 30px ;
    border-radius: 10px;
    margin: 60px 0 60px 0;
    box-shadow: 10px 5px 5px #E4DBDE;
}

#table{
    width: 100%;
    color: black;
}
#heading, #things{
    padding: 5px;
}
#list{
    font-weight: bolder
}

#list li{
    padding: 5px;
}

th, td {
    padding: 15px;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: rgb(132, 124, 172);
    
}

tr:hover {
    background-color:  rgb(22, 94, 32);
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

