* {
    box-sizing: border-box;
}
body {
    background-color: rgb(161, 113, 40);
    font-family: 'Muli', sans-serif;
    position: relative;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
 }

 #home{
     color: white;
     font-weight: bolder;
 }

#login, #signup {
        float: center;
        background-color: #9989EA;
}
#but{
    margin-bottom: 19px;
    border-radius: 6px;
    padding: 0;
    background-color: rgb(132, 124, 172); 
    
}
.e a{
    text-decoration: none;
    color: white; 
}

.e a:hover {
    /* background-color: rgb(22, 94, 32); */
    color: white;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;

}
#log-out{
    color: white;
    background-color: rgb(99, 81, 188);
    padding: 5px 15px 5px 15px;
    float: right;
    margin: 10px;
    border: none;
    border-radius: 7px;
}

.def{
    font-family: 'Muli', sans-serif;
    padding: 250px 100px 100px 100px;
}

.def1{
    background-color: #F7F9FB;
    padding: 35px 30px ;
    border-radius: 10px;
    margin: 60px 0 60px 0;
    box-shadow: 10px 5px 5px #E4DBDE;
}

#table{
    width: 100%;
    color: black;
}
#heading{
    padding: 5px;
}
#list{
    font-weight: bolder
}

#list li{
    padding: 5px;
}
#things{
    padding-top: 65px;
}

th, td {
    padding: 15px;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: rgb(132, 124, 172);  
}
#del{
    height: 5px;
    width: 5px;
}

tr:hover {
    background-color:  rgb(22, 94, 32);
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

